django-postgrespool==0.3.0
celery==3.1.24
dj-database-url==0.4.1
Django==1.10.2
django-extensions==1.7.0
djangorestframework==3.4.7
gunicorn==19.6.0
ipython==5.0.0
oauth2client==3.0.0
opbeat==3.4.0
psycopg2==2.6.2
pyOpenSSL==16.1.0
python-social-auth==0.2.21
redis==2.10.5
requests==2.11.0
whitenoise==3.2.2
