django-postgrespool==0.3.0
celery==4.0.0
dj-database-url==0.4.1
Django==1.10.3
django-extensions==1.7.4
djangorestframework==3.5.2
gunicorn==19.6.0
ipython==5.1.0
oauth2client==4.0.0
opbeat==3.5.1
psycopg2==2.6.2
pyOpenSSL==16.2.0
python-social-auth==0.2.21
redis==2.10.5
requests==2.11.1
whitenoise==3.2.2
