{% load staticfiles %}{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'elvanto_sync/head.html' %}
</head>
<body>
    {% include 'elvanto_sync/nav.html' %}
    <div class="container-fluid">
      <div class="row">
           {% include 'elvanto_sync/sidebar.html' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
<script src="{%static 'js/main.js'%}"></script>
{% block morejs %}
{% endblock %}
<script>
$(document).ready(function () {
    (function ($) {
        $('#filter').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }(jQuery));
});
</script>
</body>
</html>
